@model Web_Mobile.Models.Admin

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_LayoutAdnin.cshtml";
}

<h2>Xóa Tài Khoản</h2>

<h3>Bạn có chắc muốn xóa tài khoản này ?</h3>
<div>
  
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PassAdmin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PassAdmin)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HoTen)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HoTen)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-success" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
