@model Web_Mobile.Models.KHACHHANG

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_LayoutAdnin.cshtml";
}

<h2>Xóa</h2>

<h3>Bạn có chắc chắn muốn xóa khách hàng này?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Họ Tên
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HoTen)
        </dd>

        <dt>
            Tài Khoản
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Taikhoan)
        </dd>

        <dt>
            Mật Khẩu
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Matkhau)
        </dd>

        <dt>
            Email
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            Địa Chỉ
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DiachiKH)
        </dd>

        <dt>
            SĐT
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DienthoaiKH)
        </dd>

        <dt>
            Ngày Sinh
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ngaysinh)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Xóa" class="btn btn-success" /> |
            @Html.ActionLink("Trở về", "Index")
        </div>
    }
</div>
