@model Web_Mobile.Models.KHACHHANG

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>CHI TIẾT</h2>

<div>
    <h4>KHÁCH HÀNG</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Họ Tên
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HoTen)
        </dd>

        <dt>
            Tài Khoản
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Taikhoan)
        </dd>

        <dt>
            Mật Khẩu
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Matkhau)
        </dd>

        <dt>
            Email
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            Địa Chỉ
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DiachiKH)
        </dd>

        <dt>
            SĐT
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DienthoaiKH)
        </dd>

        <dt>
            Ngày Sinh
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ngaysinh)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MaKH }) |
    @Html.ActionLink("Back to List", "Index")
</p>
