@model Web_Mobile.Models.DONDATHANG

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_LayoutAdnin.cshtml";
}


<h3>Bạn có chắc xóa đơn hàng này ?</h3>
<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            Mã ĐH :
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaDH)
        </dd>
        <dt>
            Tên KH :
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KHACHHANG.HoTen)
        </dd>
        <dt>
            Ngày Đặt :
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ngaydat)
        </dd>

        <dt>
            Ngày Giao :
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ngaygiao)
        </dd>
        <dt>
            Tình Trạng Thanh Toán :
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Dathanhtoan)
        </dd>

        <dt>
            Tình Trạng Giao Hàng :
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tinhtranggiaohang)
        </dd>


    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-success" /> |
            @Html.ActionLink("Trỏ về", "Index")
        </div>
    }
</div>
