@model IEnumerable<Web_Mobile.Models.NhaSanXuat>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>QUẢN LÝ NHÀ SẢN XUẤT</h2>

<p>
    @Html.ActionLink("Thêm NSX", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Tên NSX
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TenNSX)
        </td>
        <td>
            @Html.ActionLink("Sửa", "Edit", new { id=item.MaNSX }) |
            @Html.ActionLink("Chi Tiết", "Details", new { id=item.MaNSX }) |
            @Html.ActionLink("Xóa", "Delete", new { id=item.MaNSX })
        </td>
    </tr>
}

</table>
